@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}html,body{
	font-family:anakotmai;
    margin:0;
	padding:0;
	overflow-y: hidden;
}body{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/subjective-well-being.appspot.com/o/p.14-14.png?alt=media&token=b32b3845-e857-4ae0-99bf-f7567f202814"); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
#creator{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	color:#FAF3EB;
	width: 40%;
	text-align: center;
	padding-top:3%;
	padding-bottom:5% ;
	border-radius: 10%;
	font-family: anakotmai;
	background:none;
	color: #F65832;
}
#creator p{
	color: black;
	font-family: anakotmailight;
	font-weight: bold;	
	font-size: 22px;
	margin: 0%;
}
#creator h2{
	font-family: anakotmai;
	font-weight: bold;	
	font-size: 24px;
	margin-bottom: 0%;
}