@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}html,body{
	font-family:anakotmai;
    margin:0;
	padding:0;
	overflow-y: hidden;
}body{
	background-color: #F65832;
}
img{
	z-index: -1;
}
@media screen and (min-width: 1000px) {
#creator{
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color:#FAF3EB;
	width: 40%;
	text-align: center;
	padding-top:3%;
	padding-bottom:5% ;
	border-radius: 10%;
	font-family: anakotmai;
	background-color:#FAF3EB;
	color: #F65832;
}
#creator p{
	color: black;
	font-family: anakotmailight;
	font-weight: bold;	
	font-size: 22px;
	margin: 0%;
}
#creator h2{
	font-family: anakotmai;
	font-weight: bold;	
	font-size: 24px;
	margin-bottom: 0%;
}}
@media screen and (max-width: 1000px) {
#creator{
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color:#FAF3EB;
	width: 70%;
	text-align: center;
	padding-top:3%;
	padding-bottom:5% ;
	border-radius: 10%;
	font-family: anakotmai;
	background-color:#FAF3EB;
	color: #F65832;
}#creator p{
	color: black;
	font-family: anakotmailight;
	font-weight: bold;	
	font-size: 22px;
	margin: 0%;
}
#creator h2{
	font-family: anakotmai;
	font-weight: bold;	
	font-size: 24px;
	margin-bottom: 0%;
}
}