@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
    font-family:anakotmai;
    margin:0;
    padding:0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #FAF3EB;
}#bg img{
    z-index: -1;
    position: fixed;
    bottom: 0;
    cursor: auto;
}
@media screen and (min-width: 1000px){
.mySlides1 {
    text-align: center;
    display: none;
}
.mySlides1 img{
    vertical-align: middle;
    width:500px;
    border: 2px solid black;
    border-radius:10px ;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  background-color: black;
  color: #FAF3EB;
  margin:0% 20%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #666;
  color: white;
}p{
    position: absolute;
    bottom: 0%;
    right: 1%;
    color: #00698D;
}

}@media screen and (max-width: 1000px){
    .mySlides1 {
        text-align: center;
        display: none;
    }
    .mySlides1 img{
        vertical-align: middle;
        width:300px;
        border: 2px solid black;
        border-radius:10px ;
    }
    
    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: fixed;
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: fixed;
      top: 70%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;
      background-color: black;
      color: #FAF3EB;
      margin:0% 20%;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px;
    }
    
    /* On hover, add a grey background color */
    .prev:hover, .next:hover {
      background-color: #666;
      color: white;
    }
    #bg{
        display: none;
    }
}