@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
    padding:0;
    height: 100%;
    background-color:#FAF3EB;
    scroll-behavior: smooth;
}
#happiness section{
    height: 80%;
    padding-bottom: 20rem;
    margin-left:10% ;
}
#P1-happiness{
    text-align: center; 
    margin-top: 13%;
}
#P1-happiness h1{
    font-size: 80px;
    display: inline;
}#P2-happiness,#P3-happiness{
    font-family: anakotmaibold;
    text-align: center;
    font-size: 40px;
    color: #FDC848;
    line-height: 0.3;
}
#P4-happiness{
    margin: 0;
    padding: 0;
}
#P5-happiness{
    margin-top: 10%;
    font-family:anakotmai;
    text-align: center;
    color: #00698D;
    font-size: 20px;
}
hr{
    border: 0.5px solid #F65832;
    width: 20%;
  }
.video-P2 {
    padding-bottom: 45%; /* 16:9 */
    margin-left: 45%;
    height:50%;
    width: 50%;
}.video-P3{
    padding-bottom: 45%; /* 16:9 */
    margin-left: 8%;
    height:40%;
    width: 40%;
}
nav{
    position: fixed;
}
.section-nav li.active > a {
	color: #333;
}
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}
.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out;
}
.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}
* {
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}
