@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
    padding:0;
    background-color:#273564;
    overflow-y: hidden;
}
#btn-header{
	align-items: center;
	text-align: center;
	background-color: #273564;
	padding: 1%;
}
#btn-header button{
	color:#FAF3EB;
	font-size: 18px;
	border: none;
	background: none;
	font-family:anakotmai;
	font-weight: normal;
	cursor: pointer;
	margin-right: 5%;
}
#btn-header button:hover{
	transition-duration: 0.5s;
	background-color:#FEB954;   
}
#btn-group{
    margin-top: 10%;
    margin-left: 2%;
}
#btn-group button{ 
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border:solid 1px #FAF3EB;
}