@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
	padding:0;
	overflow-y: hidden;
}
#player {
	padding-bottom: 45%; /* 16:9 */
	position: absolute;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1000px){
	
#HAPPINESS{
	position: fixed;
	font-family:anakotmai;
	font-style: normal;
	font-weight: 600;
	font-size: 165px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FEB954;
	margin-left: 10%;
	margin-bottom:0% ;
}
#btn-enter{
	position: fixed;
	font-family:anakotmai;
	display: block;
	margin-left: 40%;
	margin-top: 30%;
	width: 20%;
	background: #EC6665;
	border-radius: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 100%;
	padding: 1%;
	font-size: 36px;
	align-items: center;
	color: #FDF3DD;
	border: none;
	cursor: pointer;
}
#btn-enter:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #FDF3DD;
	color: #EC6665;
	cursor: pointer;
	width: 21%;
	transition-duration: 0.4s;
}
#btn-enter:active {
    background-color: #EC6665;
    color:#FDF3DD;
}}
@media screen and (max-width: 1000px){
	#btn-header{
		display: none;
	}
	#HAPPINESS{
		font-family:anakotmai;
		font-style: normal;
		font-weight: 600;
		font-size: 100px;
		align-items: center;
		text-align: center;
		letter-spacing: 0.1em;
		color: #FEB954;
		margin-top: 60%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:0% ;
	}
	#btn-enter{
		font-family:anakotmai;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
		background: #EC6665;
		border-radius: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%;
		padding: 4%;
		margin-top: 5%;
		font-size: 40px;
		align-items: center;
		color: #FDF3DD;
		border: 1px solid #FDF3DD;
	}}
