body{
    background-color:white;
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: hidden;
}
@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#player {
    padding-bottom: 45%; /* 16:9 */
    position: absolute;
	width: 100%;
    height: 100%;
}
#btn-test{
    display: none;
    font-family: 'anakotmai';
    font-size: 30px;
    position: absolute;
    left: 50%;
    top:50%;
    padding: 2%;
}