@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
    padding:0;
    overflow-y: hidden;
    background-color: #F65832;
}
#bg-main-test img,#bg-mobile img{
    position: fixed;
    z-index: -1;
}@media screen and (min-width: 1000px) {
    #main-test{
        position: absolute;
        margin-top: 10%;
        margin-left: 5%;
        border-radius: 10px; 
        padding-bottom: 10%;
        height: 30%;
        width: 90%;
        text-align: right;
        color: #FAF3EB;
        line-height: 1.5;
    }
    #main-test h1,#main-test h2{
        font-family: anakotmai;
        letter-spacing: 2px;
        padding-right: 5%;
    }
    p{
        position: absolute;
        font-family:anakotmailight;
        right: 10%; 
        text-align: right;
        font-size: 20px;
        bottom: 2%;
    }#main-test h1{
        font-size: 35px;
    }#main-test h2{
        font-size: 25px;
        margin: 0;
    }
    #main-test button{
        margin-top: 5%;
        margin-bottom: 8%;
        margin-right: 5%;
        font-family:anakotmai;
        color: #F7AB37;
        font-size: 24px;
        border: #FAF3EB 0.5px solid;
        background: none;
        border-radius: 50px;
        cursor: pointer;
        padding: 1% 2% ;
        position: relative;
        letter-spacing: 2px;
        z-index: 0;
    }
    #main-test button:hover{
        transition-duration: 0.5s;
        opacity: 0.5;
    }#main-test .tooltip{
        position: fixed;
        right: 2%;
        top: 4%;
        cursor: pointer;
    }#main-test .tooltip .tooltiptext {
    visibility: hidden;
    width: 570px;
    right: 100%;
    top: -10%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
      }#main-test .tooltip:hover .tooltiptext{
        visibility: visible;
      }#bg-mobile,.modal,#myBtn{
          display: none;
      }
}
    
@media screen and (max-width: 1000px) {
        #main-test{
            z-index: -1;
            position: absolute;
            border-radius: 10px; 
            width: 100%;
            text-align: right;
            color: #FAF3EB;
            line-height: 1.5;
            top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
        }
        #main-test h1,#main-test h2{
            font-family: anakotmai;
            padding-right: 5%;
        }
         #right{
             position: absolute;
            font-family:anakotmailight;
            padding-right: 2%; 
            font-size: 10px;
            bottom: 15%;
            right: 0%;
            text-align: right;
            color: #FAF3EB;
            z-index: -1;
        }#main-test h1{
            font-size: 18px;
        }#main-test h2{
            font-family:anakotmailight;
            font-size: 12px;
            margin: 0;
        }
        #main-test button{
            margin-top: 5%;
            margin-bottom: 8%;
            margin-right: 5%;
            font-family:anakotmai;
            color: #F7AB37;
            font-size: 16px;
            border: #FAF3EB 0.5px solid;
            background: none;
            border-radius: 50px;
            cursor: pointer;
            padding:  2% ;
            position: relative;
            letter-spacing: 1px;
            z-index: 0;
        }
        #main-test button:hover{
            transition-duration: 0.5s;
            opacity: 0.5;
        }.tooltip,#bg-main-test{
            display: none;
        }#myBtn{
            position: absolute;
            right: 2%;
            top: 1%;
            z-index: -1;
        }/* The Modal (background) */
.modal {
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 5%;
    bottom: 0;
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
  }
  
  /* Modal Content */
  .modal-content {
      color: #F65832;
    background-color: #FAF3EB;
    margin:2%;
    padding: 60px 30px 60px 30px;
    border: 1px solid #888;
    width: 80%;
    font-size: 12px;
    height: 100%;
  }
  .modal-content img{
      z-index: 0;
      position: fixed;
  }
  
  /* The Close Button */
  .close {
      position: absolute;
      top:4%;
      right: 6%;
    color: #F65832;
    float: right;
    font-size: 36px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    }