body{
    background-color:white;
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: hidden;
}
@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#player {
    padding-bottom: 45%; /* 16:9 */
    position: absolute;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1000px) {
    #btn-test{
    display: none;
}
#btn-test button{  
    font-family: 'anakotmai';
    background-color: #FEB954;
    font-size: 30px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    margin-left: -15%;
    padding: 2% 4% 2% 4%;
    border: none;
    cursor: pointer;
}}
@media screen and (max-width: 1000px) {
    #btn-test{
        display: none;
    }
    #btn-test button{  
        font-family: 'anakotmai';
        background-color: #FEB954;
        font-size: 30px;
        position: fixed;
        bottom: 50%;
        left: 50%;
        margin-left: -15%;
        padding: 2% 4% 2% 4%;
        border: none;
    }
}
