@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
    padding:0;
    overflow-y: hidden;
}
body{
    background-color:#F65832;
}
img{
    z-index: -1;
    position: fixed;
    cursor: none;
}
#data-user,#result-score{
	display: none;
}
@media screen and (min-width: 1000px) {
#question-frame{
    position: absolute;
    margin: 5%;
    border-radius: 10px; 
    padding-bottom: 10%; 
    height: 50%;
    width: 90%;
}
#question-group{
    padding-top: 5%;
}#question-group br,.topnav{
    display: none;
}
#number-question{
    background-color: white;
    padding: 2% 4% 2% 4%;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    text-align: center;
}
#number-question p{
    display: inline;
    color: #F65832;
    font-size: 40px;
}
#score{
    top: 55%;
    width: 90%;
    position: fixed;
    text-align: center;
    font-size: 32px;
    color: #FAF3EB;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    margin: 3%;
    position: relative;
    padding-left: 3%;
    cursor: pointer;
    line-height: 20px;
    display: inline-flex;
    color: #FAF3EB;
}
[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid ;
    border-radius: 100%;
    background: #F7AB37;
}
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid #FAF3EB;
    border-radius: 100%;
    background: none;
}[type="radio"]:checked + label:hover,
[type="radio"]:not(:checked) + label:hover {
    color: #F7AB37
}

#page{
    position: absolute;
    width: 100%;
    bottom: 10%;
}
#page button:hover{
    transition-duration: 0.4s;
    opacity: 0.5;
}
#page button{
    text-align: center;
    float: right;
    display: none;
    font-family: anakotmai;
    font-size: 24px;
    color:#FAF3EB;
    padding: 1%;
    width: 200px;
    background-color: #F65832;
    border: none;
    border-top-left-radius:25px ;
    border-bottom-left-radius: 25px;
    cursor: pointer;
}
#result-analyze p{
    font-family: anakotmailight;
    font-weight: bolder;
    line-height: 0.6;  
    color: #00698D;
}
#result-analyze h3{
    font-family: anakotmai;
    display: inline;
    color: #00698D;
}
#result-analyze h2{
    color: #F65832;
    display: inline;
    font-family: anakotmai;
}#result-analyze{
    margin-top: 50px;
    text-align: center;
    line-height: 1.5;
}
#btn-menu{
    display: inline;
}

#btn-menu button{
    position: relative;
    margin:1% ;
    padding:0.5% 1%;
    font-size:20px;
    font-family: anakotmai;
    background-color: transparent;
    color: #00698D;
    border: 2px solid #00698D;
    border-radius: 50px;
    cursor: pointer;
    
}
#btn-menu button:hover{
    transition-duration: 0.5s;
    color: white;
    border: 2px solid white;
}
.videoWrapper {
    padding-bottom: 45%; /* 16:9 */
    text-align: center;
}.tooltip {
    position: fixed;
    top: 3%;
    right: 5%;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color:#FAF3EB;
    color: #00698D;
    line-height: 0.6;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 105%;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

@media screen and (max-width: 1000px) {
    #data-user{
        padding: 4%;
    }
    #data-user div{
        color: #000000;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: anakotmai;
        font-size: 16px;
        border-radius: 10px;
        line-height: 1.5;
        text-align: center;
    }
    #data-user p{
        font-size: 18px;
        color: black;
        text-align: center;
        margin: 2%;
    }
    #data-user label br{
        display: block;
    }
    #data-user select{
        font-family: anakotmailight;
        font-size: 18px;
        width: 100%;
        color: #188AB6;
        padding: 1% 9% 1% 9%;
        border-radius:10px;
        background-color: #FAF3EB;
        margin-bottom: 5%;
    }
    #data-user button{
        font-family: anakotmai;
        font-size: 26px;
        background-color: transparent;
        color: #F65832;
        border-radius:10px;
        border: #F65832 0.5px solid;
        padding: 1% 5% 1% 5%;
        margin-top: 10%;
    }
    #number-question{
        background-color: white;
        padding: 2% 4% 2% 4%;
        border-radius: 20px;
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 5%;
    }
    #number-question p{
        display: inline;
        color: #F65832;
        font-size: 24px;
    }
    #score{
        left: 30%;
        margin-top: 5%;
        width: 90%;
        position: absolute;
        font-size: 25px;
        color: #FAF3EB;
        line-height: 3;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 10%;
        line-height: 20px;
        display: inline-flex;
        color: #FAF3EB;
    }
    [type="radio"]:checked + label::after,
    [type="radio"]:not(:checked) + label::after
    {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 3px solid ;
        border-radius: 100%;
        background: #F65832;
    }
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 3px solid #FAF3EB;
        border-radius: 100%;
        background: none;
    }[type="radio"]:checked + label:hover,
    [type="radio"]:not(:checked) + label:hover {
        color: #F65832;
    }
    #page{
        position: absolute;
        bottom: 200%;
        width: 100%;
    }
    #previous{
        font-size: 20px;
        float: left;
        left: 0;
        font-family: anakotmai;
        color:#188AB6;
        padding:4%;
        background-color: #FAF3EB;
        border: none;
        border-radius: 10px;
    }
    #result{
        border-radius: 10px;
        right: 0;
        float: right;
        display: none;
        font-family: anakotmai;
        font-size: 20px;
        background-color:#188AB6;
        padding:4%;
        color: #FAF3EB;
        border: none;
    }     
    #result-score{
        text-align: center;
    }
    #result-score span{
    padding: 3%;
    position: relative;
    font-size: 14px;
}
#result-score p{
    font-family: anakotmailight;
    font-weight: bolder;
    line-height: 0.5;  
    color: #188AB6;
    font-size: 12px;
}
#result-score h3{
    font-size: 16px;
    font-family: anakotmai;
    display: inline;
    color: #188AB6;
}
#result-score h2{
    font-size: 18px;
    color: #F65832;
    display: inline;
    font-family: anakotmai;
}
#btn-menu{
    display: none;
    position: sticky;
    padding-top:2%;
    margin-left:auto;
    margin-right: auto; 
}
#btn-menu button{
    margin:0% 2% 0% 2%;
    padding:1% 2% 1% 2%;
    font-size:20px;
    font-family: anakotmai;
    color: #188AB6;
    background-color: #FAF3EB;
    border: none;
    border-radius: 10px;
}
#btn-menu button:hover{
    transition-duration: 0.5s;
    opacity: 0.5;
}
.videoWrapper {
    padding: 3%; /* 16:9 */
    text-align: center;
    height: 10%;
    width: 30%;
}
}