@font-face {
    font-family: 'anakotmaibold';
	src: url('Anakotmai-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anakotmailight';
	src: url('Anakotmai-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html{
	font-family:anakotmai;
    margin:0;
    padding:0;
    overflow-y: hidden;
}
body{
    background-color:#F65832;
}
#bg-result-score img,#bg-question-mobile img,#bg-question img,#bg-result-mobile img{
    z-index: -1;
    position: fixed;
}
#data-user,#result-score{
	display: none;
}
@media screen and (min-width: 1000px) {
   #bg-question-mobile,#bg-result-mobile{
       display: none;
   } 
#question-frame{
    position: absolute;
    margin: 5%;
    border-radius: 10px; 
    padding-bottom: 10%; 
    height: 50%;
    width: 90%;
}
#question-group{
    padding-top: 5%;
    display: inline;
    
}#question-group br{
    display: none;
}
#number-question{
    background-color: white;
    padding: 2% 4%;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    text-align: center;
}
#number-question p{
    display: inline;
    color: #F65832;
    font-size: 40px;
}#list-of-number{
    text-align: center;
    font-size:40px;
    color:#FAF3EB; 
}
#score{
    top: 55%;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 32px;
    color: #FAF3EB;
    z-index: 1;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    margin: 3%;
    position: relative;
    padding-left: 3%;
    cursor: pointer;
    line-height: 20px;
    display: inline-flex;
    color: #FAF3EB;
}
[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid ;
    border-radius: 100%;
    background: #F7AB37;
}
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid #FAF3EB;
    border-radius: 100%;
    background: none;
}[type="radio"]:checked + label:hover,
[type="radio"]:not(:checked) + label:hover {
    color: #F7AB37
}

#page{
    position: absolute;
    width: 100%;
    bottom: 10%;
}
#page button:hover{
    transition-duration: 0.4s;
    opacity: 0.5;
}
#page button{
    text-align: center;
    float: right;
    display: none;
    font-family: anakotmai;
    font-size: 24px;
    color:#FAF3EB;
    padding: 1%;
    width: 200px;
    background-color: #F65832;
    border: none;
    border-top-left-radius:25px ;
    border-bottom-left-radius: 25px;
    cursor: pointer;
}
#result-analyze p{
    font-family: anakotmailight;
    font-weight: bolder;
    line-height: 1;  
    color: #00698D;
}
#result-analyze h3{
    font-family: anakotmai;
    display: inline;
    color: #00698D;
}
#result-analyze h2{
    color: #F65832;
    display: inline;
    font-family: anakotmai;
    font-size: 36px;
}#result-analyze{
    margin-top: 30px;
    text-align: center;
    line-height: 1.4;
}
#btn-menu{
    display: inline;
}

#btn-menu button{
    position: relative;
    margin:1% ;
    padding:0.5% 1%;
    font-size:20px;
    font-family: anakotmai;
    background-color: transparent;
    color: #00698D;
    border: 2px solid #00698D;
    border-radius: 50px;
    cursor: pointer;
}
#btn-menu button:hover{
    transition-duration: 0.5s;
    opacity: 0.2;
}
.videoWrapper {
    padding-bottom: 45%; /* 16:9 */
    text-align: center;
}#explan .tooltip{
        position: fixed;
        right: 3%;
        top: 3%;
    }#explan .tooltip .tooltiptext {
        visibility: hidden;
    width: 600px;
    right: 110%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
      }#explan .tooltip:hover .tooltiptext{
        visibility: visible;
      }
      #result-score button:hover{
        transition-duration: 0.5s;
        opacity: 0.5;
    }#result-score .tooltip{
        position: fixed;
        right:2%;
        top:4%;
        cursor: pointer;
    }#result-score .tooltip .tooltiptext {
    visibility: hidden;
    width:550px;
    right: 105%;
    top: -25%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
      }
      #result-score .tooltip:hover .tooltiptext{
        visibility: visible;
      }
}
@media screen and (max-width: 1000px) {
    #bg-question,#result-score{
        display: none;
    }    
    #page{
        position: absolute;
        width: 100%;
        bottom: 15%;
        right: 5%;
    }
    #page button{
        text-align: right;
        float: right;
        display: none;
        font-family: anakotmai;
        font-size: 24px;
        color:#FAF3EB;
        padding-right: 5%;
        width: 150px;
        background-color: transparent;
        border: none;
        border-top-left-radius:25px ;
        border-bottom-left-radius: 25px;
        cursor: pointer;
    }#list-of-number{
        text-align: center;
        color: #FAF3EB;
        font-size: 24px;
    }#question-frame{
        position: absolute;
        margin: 0;
        top: 45%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#number-question{
        background-color: #FAF3EB;
        color: #F65832;
        padding: 1% ;
        width: 350px;
        text-align: center;
        font-size: 22px;
        border-radius: 50px;
        margin: 0;
    }#score{
        margin-top: 5%;
        display: inline-flex;
        text-align: center;
        color: #FAF3EB;
        z-index: 1;
        padding-left: 5%;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;   
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        margin: 5%;
        position: relative;
        padding-left: 10%;
        cursor: pointer;
        line-height: 20px;
        color: #FAF3EB;
    }
    [type="radio"]:checked + label::after,
    [type="radio"]:not(:checked) + label::after
    {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 2px solid ;
        border-radius: 100%;
        background: #F7AB37;
    }
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 2px solid #FAF3EB;
        border-radius: 100%;
        background: none;
    }[type="radio"]:checked + label:hover,
    [type="radio"]:not(:checked) + label:hover {
        color: #F7AB37
    }#result-analyze p{
        font-family: anakotmailight;
        font-weight: bolder;
        font-size: 18px;
        line-height: 1;  
        color: #00698D;
    }
    #result-analyze h3{
        font-size: 14px;
        font-family: anakotmai;
        display: inline;
        color: #00698D;
    }
    #result-analyze h2{
        font-size: 20px;
        color: #F65832;
        display: inline;
        font-family: anakotmai;
    }#result-analyze{
        margin-top: 40%;
        text-align: center;
        line-height: 1.4;
    }
    #btn-menu{
        display: inline;
    }   
    #btn-menu button{
        position: relative;
        margin:10% 3% ;
        padding:1.5%;
        font-size:14px;
        font-family: anakotmai;
        background-color: transparent;
        color: #00698D;
        border: 1px solid #00698D;
        border-radius: 50px;
        cursor: pointer;
    }
    #btn-menu button:hover{
        transition-duration: 0.5s;
        opacity: 0.2;
    }
    .videoWrapper {
        padding-bottom: 45%; /* 16:9 */
        text-align: center;
    }.tooltip{
        display: none;
    }#myBtn{
        position: absolute;
        right: 2%;
        top: 1%;
        z-index: -1;
    }/* The Modal (background) */
.modal {
z-index: 1; /* Sit on top */
left: 0;
top: 0;
padding-top: 5%;
bottom: 0;
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: #F7AB37;
background-color: #F65832;
margin:2%;
padding: 60px 30px 100px 30px;
border: 1px solid #888;
width: 80%;
font-size: 12px;
height: 100%;
}
.modal-content img{
  z-index: 0;
  position: fixed;
}

/* The Close Button */
.close {
  position: absolute;
  top:4%;
  right: 6%;
color: #F65832;
float: right;
font-size: 36px;
font-weight: bold;
}.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
      }
