body{
    background-color:white;
    margin:0;
    padding:0;
    height: 100%;
    overflow-y: hidden;
}
@font-face {
    font-family: 'anakotmai';
	src: url('Anakotmai-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#player {
    padding-bottom: 45%; /* 16:9 */
    position: absolute;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1000px) {
    #btn-test{
        width: 100%;
        height: 100%;
        display: none;
    }
#btn-test button{  
    font-family: 'anakotmai';
    background-color: #FEB954;
    color: black;
    font-size: 22px;
    padding: 1% 2%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#btn-test button:hover{
    transition-duration: 0.5s;
    color: white;
    background-color: #00698D;
}
}
@media screen and (max-width: 1000px) {
    #btn-test button{  
        font-family: 'anakotmai';
        background-color: #FEB954;
        font-size: 30px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 2% 4% 2% 4%;
        border: none;
    }
}
